<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsSw325OUHw6MrxAGIdwbWHPyhJRldolc</string>
	<key>GCM_SENDER_ID</key>
	<string>267515153341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dineosCustomer</string>
	<key>PROJECT_ID</key>
	<string>dineos-123</string>
	<key>STORAGE_BUCKET</key>
	<string>dineos-123.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267515153341:ios:d3e2794a47e20887e6a0d4</string>
	<key>DATABASE_URL</key>
	<string>https://dineos-123-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>